/* add css module styles here (optional) */

.password_validation_terms_row {
  border-bottom: none !important;
}
.password_validation_terms_title {
  font-size: 12px;
  color: #BB4411 !important;
  font-weight: bold;
  font-family: 'DM Sans';
  font-style: normal;
  line-height: 1px;
  font-weight: 600;
}

.password_validation_terms_title_ok {
  color: #28A745 !important;
}

.password_validation_terms_container ul li {
  list-style: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.min_character {
  font-size: 12px;
  color: #BB4411 !important;

}

.min_character_uppercase_ok,
.min_character_lowercase_ok,
.min_character_number_ok,
.min_character_count_ok,
.min_character_special_ok {
  color: #28A745 !important;
  font-weight: 600;
}


.input_pwd
{
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}
